body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:553px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3895 {
  position:absolute;
  left:193px;
  top:13px;
}
#u3895_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u3895_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3896_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
  background:inherit;
  background-color:rgba(241, 241, 241, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:0px 0px 3px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 3px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 3px rgba(0, 0, 0, 0.349019607843137);
}
#u3896 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
}
#u3897 {
  position:absolute;
  left:2px;
  top:312px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3898 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3899_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3899 {
  position:absolute;
  left:144px;
  top:14px;
  width:57px;
  height:16px;
}
#u3900 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u3901_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u3901 {
  position:absolute;
  left:14px;
  top:12px;
  width:20px;
  height:20px;
}
#u3902 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3903 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3904_img {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:5px;
}
#u3904 {
  position:absolute;
  left:317px;
  top:21px;
  width:5px;
  height:5px;
}
#u3905 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3906_img {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:5px;
}
#u3906 {
  position:absolute;
  left:329px;
  top:21px;
  width:5px;
  height:5px;
}
#u3907 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3908_img {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:5px;
}
#u3908 {
  position:absolute;
  left:341px;
  top:21px;
  width:5px;
  height:5px;
}
#u3909 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3910 {
  position:absolute;
  left:0px;
  top:42px;
  width:360px;
  height:598px;
  overflow:hidden;
}
#u3910_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:598px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u3910_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3911 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:917px;
  overflow:hidden;
  touch-action:none;
}
#u3911_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:917px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u3911_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3912 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:916px;
  overflow:hidden;
}
#u3912_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:916px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u3912_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3913_img {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:2px;
}
#u3913 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:1px;
}
#u3914 {
  position:absolute;
  left:2px;
  top:-8px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3915_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:945px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3915 {
  position:absolute;
  left:0px;
  top:1px;
  width:360px;
  height:945px;
}
#u3916 {
  position:absolute;
  left:2px;
  top:464px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3917 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3918_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:2px;
}
#u3918 {
  position:absolute;
  left:564px;
  top:196px;
  width:8px;
  height:1px;
  -webkit-transform:rotate(55deg);
  -moz-transform:rotate(55deg);
  -ms-transform:rotate(55deg);
  transform:rotate(55deg);
  color:#FFFFFF;
}
#u3919 {
  position:absolute;
  left:2px;
  top:-8px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3920_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:2px;
}
#u3920 {
  position:absolute;
  left:569px;
  top:196px;
  width:8px;
  height:1px;
  -webkit-transform:rotate(309deg);
  -moz-transform:rotate(309deg);
  -ms-transform:rotate(309deg);
  transform:rotate(309deg);
}
#u3921 {
  position:absolute;
  left:2px;
  top:-8px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3922_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:85px;
}
#u3922 {
  position:absolute;
  left:23px;
  top:19px;
  width:83px;
  height:85px;
}
#u3923 {
  position:absolute;
  left:2px;
  top:34px;
  width:79px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3924_div {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u3924 {
  position:absolute;
  left:122px;
  top:19px;
  width:220px;
  height:15px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u3925 {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  word-wrap:break-word;
}
#u3926_div {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u3926 {
  position:absolute;
  left:122px;
  top:41px;
  width:220px;
  height:15px;
  font-size:12px;
}
#u3927 {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  word-wrap:break-word;
}
#u3928_div {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u3928 {
  position:absolute;
  left:122px;
  top:64px;
  width:220px;
  height:15px;
  font-size:12px;
}
#u3929 {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  word-wrap:break-word;
}
#u3930_div {
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(24, 144, 255, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#1890FF;
}
#u3930 {
  position:absolute;
  left:23px;
  top:123px;
  width:319px;
  height:24px;
  font-size:12px;
  color:#1890FF;
}
#u3931 {
  position:absolute;
  left:2px;
  top:4px;
  width:315px;
  word-wrap:break-word;
}
#u3932 {
  position:absolute;
  left:2px;
  top:166px;
  width:361px;
  height:487px;
  overflow:hidden;
}
#u3932_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:487px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u3932_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3933_div {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  color:#1890FF;
}
#u3933 {
  position:absolute;
  left:23px;
  top:0px;
  width:79px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  color:#1890FF;
}
#u3934 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u3935_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:82px;
  height:5px;
}
#u3935 {
  position:absolute;
  left:23px;
  top:26px;
  width:79px;
  height:2px;
}
#u3936 {
  position:absolute;
  left:2px;
  top:-7px;
  width:75px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3937_div {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u3937 {
  position:absolute;
  left:147px;
  top:0px;
  width:119px;
  height:16px;
  font-size:13px;
}
#u3938 {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  white-space:nowrap;
}
#u3939 {
  position:absolute;
  left:139px;
  top:0px;
  width:147px;
  height:28px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3940 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3941-1 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3941-2 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3941-3 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3941-4 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3941-5 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3941-6 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3941-7 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3941-8 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3941 {
  position:absolute;
  left:196px;
  top:81px;
  width:0px;
  height:0px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u3942-1 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3942-2 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3942-3 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3942-4 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3942-5 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3942-6 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3942-7 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3942-8 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3942-9 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3942-10 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3942-11 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3942-12 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3942 {
  position:absolute;
  left:337px;
  top:68px;
  width:0px;
  height:0px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u3943_img {
  position:absolute;
  left:0px;
  top:0px;
  width:314px;
  height:282px;
}
#u3943 {
  position:absolute;
  left:23px;
  top:68px;
  width:314px;
  height:282px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u3944 {
  position:absolute;
  left:2px;
  top:68px;
  width:310px;
  word-wrap:break-word;
}
#u3932_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:487px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u3932_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3945_div {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
}
#u3945 {
  position:absolute;
  left:23px;
  top:0px;
  width:79px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
}
#u3946 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u3947_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:116px;
  height:5px;
}
#u3947 {
  position:absolute;
  left:140px;
  top:26px;
  width:113px;
  height:2px;
}
#u3948 {
  position:absolute;
  left:2px;
  top:-7px;
  width:109px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3949_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  color:#1890FF;
}
#u3949 {
  position:absolute;
  left:140px;
  top:0px;
  width:113px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  color:#1890FF;
}
#u3950 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u3951_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:64px;
}
#u3951 {
  position:absolute;
  left:23px;
  top:53px;
  width:63px;
  height:64px;
}
#u3952 {
  position:absolute;
  left:2px;
  top:24px;
  width:59px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3953_div {
  position:absolute;
  left:0px;
  top:0px;
  width:245px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#1890FF;
}
#u3953 {
  position:absolute;
  left:102px;
  top:53px;
  width:245px;
  height:30px;
  font-size:12px;
  color:#1890FF;
}
#u3954 {
  position:absolute;
  left:0px;
  top:0px;
  width:245px;
  word-wrap:break-word;
}
#u3955_div {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3955 {
  position:absolute;
  left:102px;
  top:94px;
  width:119px;
  height:16px;
}
#u3956 {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  white-space:nowrap;
}
#u3957 {
  position:absolute;
  left:-11px;
  top:0px;
  width:147px;
  height:28px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3958 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3959 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3960_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u3960 {
  position:absolute;
  left:559px;
  top:223px;
  width:73px;
  height:15px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u3961 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u3962_div {
  position:absolute;
  left:0px;
  top:0px;
  width:338px;
  height:61px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3962 {
  position:absolute;
  left:421px;
  top:248px;
  width:338px;
  height:61px;
}
#u3963 {
  position:absolute;
  left:2px;
  top:22px;
  width:334px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3964 {
  position:absolute;
  left:421px;
  top:248px;
  width:338px;
  height:61px;
  overflow:hidden;
}
#u3964_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:338px;
  height:61px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u3964_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3965 {
  position:absolute;
  left:0px;
  top:0px;
  width:604px;
  height:67px;
  overflow:hidden;
  touch-action:none;
}
#u3965_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:604px;
  height:67px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u3965_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3966_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u3966 {
  position:absolute;
  left:16px;
  top:10px;
  width:49px;
  height:15px;
  font-size:12px;
}
#u3967 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u3968_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u3968 {
  position:absolute;
  left:11px;
  top:35px;
  width:65px;
  height:15px;
  font-size:12px;
}
#u3969 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u3970_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u3970 {
  position:absolute;
  left:116px;
  top:10px;
  width:49px;
  height:15px;
  font-size:12px;
}
#u3971 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u3972_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u3972 {
  position:absolute;
  left:115px;
  top:35px;
  width:50px;
  height:15px;
  font-size:12px;
}
#u3973 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  white-space:nowrap;
}
#u3974_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u3974 {
  position:absolute;
  left:219px;
  top:10px;
  width:25px;
  height:15px;
  font-size:12px;
}
#u3975 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u3976_div {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u3976 {
  position:absolute;
  left:220px;
  top:35px;
  width:36px;
  height:15px;
  font-size:12px;
}
#u3977 {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  white-space:nowrap;
}
#u3978_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u3978 {
  position:absolute;
  left:311px;
  top:10px;
  width:49px;
  height:15px;
  font-size:12px;
}
#u3979 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u3980_div {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u3980 {
  position:absolute;
  left:318px;
  top:35px;
  width:36px;
  height:15px;
  font-size:12px;
}
#u3981 {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  white-space:nowrap;
}
#u3982_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u3982 {
  position:absolute;
  left:414px;
  top:10px;
  width:49px;
  height:15px;
  font-size:12px;
}
#u3983 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u3984_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u3984 {
  position:absolute;
  left:518px;
  top:10px;
  width:73px;
  height:15px;
  font-size:12px;
}
#u3985 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u3986_div {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u3986 {
  position:absolute;
  left:431px;
  top:35px;
  width:15px;
  height:15px;
  font-size:12px;
}
#u3987 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u3988_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u3988 {
  position:absolute;
  left:542px;
  top:35px;
  width:25px;
  height:15px;
  font-size:12px;
}
#u3989 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u3990_div {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u3990 {
  position:absolute;
  left:122px;
  top:87px;
  width:220px;
  height:15px;
  font-size:12px;
}
#u3991 {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  word-wrap:break-word;
}
#u3992 {
  position:absolute;
  left:23px;
  top:114px;
  width:319px;
  height:42px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
